<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="8px">
            <tr>
                <th>records</th>
                <th>date</th>
                <th>auther</th>
            </tr>
            {% for ro in records %}
            <tr>
                <td>{{ro.name}}</td>
                <td>{{ro.date}}</td>
                <td>{{ro.auther}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>